html {
	width:100%;
	text-align:center;
	background-color: #f0f0f0;
}
body {
    height: 100vh;
    font-family: Arial, sans-serif;
	background:#C4E1C5;
}

.game {
	width:400px;
	height:450px;
	margin:0 auto;
	padding-top:15px;
    text-align: center;
	background: #fffafa;
}

.holes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 400px;
    margin: 20px auto;
}

.hole {
    border-color:red;
    border-style:solid;
    border-width:2px;
    width: 100px;
    height: 100px;
    background-color: #000000;
    position: relative;
    border-radius: 50%;
    margin: 10px;
    overflow: hidden;
}

.hole:hover {
  background-color: yellow;
  border-style:dotted;
  border-width:6px;
  border-color:magenta;
}


.mole {
    width: 80px;
    height: 80px;
    background-image: url('mole.png');
    background-image:center;
    position: absolute;
    bottom: -80px;
    left: 10px;
    border-radius: 50%;
    transition: bottom 0.3s;
}

.mole.up {
    bottom: 10px;
}

.score-board {
    font-size: 1.5em;
    margin: 20px;
    color:purple;
    font-weight: bold;
}

#score{
		color:red;
        font-weight: bold;
	}

    h1{
		color:rgb(255, 47, 255)
	}

#demo{
	width:100%;
	text-align:center;
	background:#C4E1C5;
}
#startButton {
	background:transparent;
}

#startButton:hover {
	background-color:#fff;
}